.cartProduct {
     @include buildSize(inherit, inherit);
     @include flexAlign(flex, center, space-between);
     padding: 10px 0;

     &__info {
          gap: 30px;
          @include buildSize(100%, 100%);
          @include flexAlign(flex, flex-start, flex-start);
          flex-direction: column;
          padding: 25px 0;
     }

     &__prodName {
          @include buildFont(30px, 600, $blackColor);
          line-height: 45px;

          &>span {
               @include buildFont(30px, 400, $blackColor);
          }
     }

     &__gallery {
          @include buildSize(200px, 290px);
          position: relative;

          &>img {
               object-fit: contain;
               @include buildSize(100%, 100%);
          }
     }

     &__galleryAndCount {
          @include flexAlign(flex, center, space-between);
          min-width: 270px
     }

     &__countWrapper {
          @include flexAlign(flex, center, space-between);
          flex-direction: column;
          height: 290px;

          &>p {
               @include buildFont(24px, 500, $blackColor);
          }

          &>div {
               cursor: pointer;
               @include buildSize(45px, 45px);
               @include flexAlign(flex, center, center);
               border: 1px solid $blackColor;

               &>span {
                    font-size: 30px;
                    font-weight: 400;
                    user-select: none;
               }
          }
     }

     &__scrollGallery {
          @include flexAlign(flex, center, space-between);
          position: absolute;
          bottom: 20px;
          right: 20px;
          width: 60px;

          &>img {
               cursor: pointer;
          }
     }
}