//<VARIABLES>==========================================================================================================

$maxContentWidth: 1440px;

$contentWidth: 1238px;

$headerHeight: 80px;

$blackColor: #1D1F22;
$whiteColor: #ffffff;
$primaryColor: #5ECE7B;
$grayColor: #EEEEEE;

$boxShadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

//</VARIABLES>===========================================================================================================
