body {
     margin: 0;
     font-family: "Raleway";
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     width: 100%;
   }
   
  //  code {
  //    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //      monospace;
  //  }

   .main {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
   }
   
   *, *::after, *::before {
     box-sizing: border-box;
   }
   