.categoryPage {
     @include buildSize(inherit, inherit);
     @include flexAlign(flex, center, center);
     margin: 0 auto;

     &>div {
          @include buildSize($contentWidth, inherit);
          @include flexAlign(flex, center, center);
          flex-direction: column;
          margin: 0 auto;

          &>h2 {
               display: flex;
               align-self: flex-start;
               margin: 80px 0;
               @include buildFont(42px, 400, $blackColor);
               text-transform: capitalize;
          }
     }

     &__products {
          @include buildSize($contentWidth, inherit);
          @include flexAlign(grid, center, space-between);
          grid-template-columns: repeat(3, 1fr);
          margin: 0 auto;
          gap: 30px;

          &>li {
               transition: 1s solid;
               cursor: pointer;

               &:hover {
                    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
               }
          }
     }
}