.productPage {
     @include buildSize(inherit, inherit);
     @include flexAlign(flex, center, center);
     margin: 0 auto;
     padding: 60px 0;

     &>div {
          @include buildSize($contentWidth, inherit);
          @include flexAlign(grid, flex-start, center);
          margin: 0 auto;
          grid-template-columns: 2fr 1fr;
     }

     &__info {
          @include flexAlign(flex, flex-start, flex-start);
          flex-direction: column;
          gap: 30px;
     }

     &__gallery {
          @include flexAlign(flex, flex-start, flex-start);
          gap: 40px;

          &>ul>li {
               @include buildSize(80px, 80px);
               margin: 10px 0;

               &>img {
                    @include buildSize(100%, 100%);
                    object-fit: cover;
               }
          }
     }

     &__mainPhoto {
          @include buildSize(610px, 510px);
          @include flexAlign(flex, center, center);
          position: relative;

          &>img {
               object-fit: cover;
               @include buildSize(100%, 100%);
          }

          &>div {
               position: absolute;
               @include buildSize(100%, 100%);
               @include flexAlign(flex, center, center);
               @include buildFont(24, 400, #8D8F9A);
               background: $grayColor;
               opacity: 0.5;
          }
     }

     &__btn {
          @include buildSize(292px, 60px);
          @include buildFont(16px, 600, $whiteColor);
          background: $primaryColor;
          cursor: pointer;
     }

     &__description {
          & > div > ul {
               list-style: disc;
          }
     }

     &__price {
          @include flexAlign(flex, flex-start, center);
          flex-direction: column;
          gap: 10px;
          
          &>p {
               @include buildFont(18px, 700, $blackColor); 
          }

          &>span {
               @include buildFont(24px, 700, $blackColor);
          }
     }

     &__attributes {
          @include flexAlign(flex, flex-start, flex-start);
          flex-direction: column;
          gap: 20px;
     }

     &__name {
          @include buildFont(30px, 600, $blackColor);
          line-height: 45px;

          &>span {
               @include buildFont(30px, 400, $blackColor);
          }
     }
}